@page {
    font-family: "georgia";
}

body {
    background-color: #000;
}

:root {
    --main-bg: #E3D6C7; /* #EEE;*/

    --darken-seethru: rgba(0,0,0,0.6);
    --item-bg: #d9bb92;   
    --side-bg: #E3D6C7; /*#CCC;*/


    --dark-accent: #453838; /* #555;*/
    --cart-header: #777; 
    --side-accent: #AAA;

    --border-white: #FFF;
}

body {
    overflow: hidden;
}

#header {
    position:relative;

    height : 100px;

    /*background : var(--main-bg);*/
    box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}

#headerBackground {
    position:absolute;
    z-index:-1;
    background-repeat: repeat;

    left:0;

    height:100%;
    width:100%;

    object-fit: cover;
}


#title {
    font-size: 40px;
    color: white;

    padding: 20px 0;
    margin-left: 20px;
    text-align: center;
    z-index:1;
    
    float: left;

    text-shadow: 0 3px 5px rgba(0,0,0,0.6);
}

@media screen and (max-width: 900px){
    #title {
        font-size: 25px;
    }
}



#ship {
    /*border: 1px dashed black;*/
    height: 103px;
    width: 103px;
    float: left;
}

#title_img {
    margin: 7px;
    height : 85px;
    width: 89px;
}

#ghost {
    /*border: 1px dashed black;*/
    height: 96px;
    width: 96px;
    float: left;
    border: 2px dotted white;
    background-color: rgba(0,0,0,0.1);
}

@media screen and (max-width: 900px){
    #ship {
        display:none;
    }
    #ghost {
        display:none;
    }
}

#lang {
    float: right;
}

#flag {
    position:absolute;

    right:220px;

    margin: 7px;

    height : 60px;
    width : 60px;
    border-radius: 100%;

    border: 3px solid white;
}

@media screen and (max-width: 900px){
    #flag {
        right:120px;
    }
}

#menuTabs {
    margin: 0;
    padding: 0;
    margin-top:8px;
    overflow: hidden;
    background-color: var(--dark-accent);
    max-height:100%;

    box-shadow: 0 20px 25px rgba(0,0,0,0.4);

    text-shadow: 0 2px 2px rgba(0,0,0,0.6);
}

#menu {
    position: relative;
    /*background-color: var(--item-bg);*/
    overflow:auto;
    height:calc(100vh - 182px);
    background-size: 100px;
}


/* Images are given in html code, could not find a way to do it in css */
#menuBackground {
    z-index:-1;
    position:absolute;
    left:0;
    height:100%;
    width:calc(100% - 317px);
    object-fit:cover;
}

@media screen and (max-width: 900px){
    #menuBackground{
        width: calc(100% - 217px);
    }
}

#shoppingCartBackground {
    position:absolute;
    z-index:-1;
    left:0;
    top:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

#menuItems {
    display:inline-block;
    overflow-y:scroll;
    max-height:100%;
    float:left;
    width: calc(100% - 300px);
}

@media screen and (max-width: 900px){
    #menuItems {
        width: calc(100% - 200px);
    }
}

#shoppingCart {
    display:inline-block;
    position:relative;
    /*background-color: var(--cart-header);*/

    width:300px;
    height:100%;
}

#shoppingCart_text {
    font-size: 20px;

    text-align: center;

    padding-top: 14px;

    color: #FFF;
    height: 70px;
    
    background-color: var(--darken-seethru);
    backdrop-filter: blur(3px);
}

#loginZone {
    position:absolute;

    right:8px;
    top:6px;

    /*background : var(--side-bg);*/

    height : 86px;
    width : 200px;

    background-color: var(--darken-seethru);
    backdrop-filter: blur(3px);
}

@media screen and (max-width: 900px){
    #loginZone {
        width:100px;
    }
}

#undoButton {
    position:absolute;
    left:5px;

    color: white;

    display:inline-block;

    top: 50px;
    
    padding-top:3px;

    background-color: var(--darken-seethru);

    height: 25px;
    width: calc(50% - 10px);

    font-size: 18px;
    text-align: center;

    border-radius: 5px;
}

#redoButton {
    position:absolute;
    right:5px;

    color: white;

    display:inline-block;

    top: 50px;

    padding-top:3px;
    
    background-color: var(--darken-seethru);

    height: 25px;
    width: calc(50% - 10px);

    font-size: 18px;
    text-align: center;

    border-radius: 5px;
}

#checkoutZone {
    position: absolute;
    bottom:0;
    
    background-color: var(--side-accent);

    height:60px;

    width:100%;

    background-color: var(--darken-seethru);
    backdrop-filter: blur(3px);
}
#paymentMethod {
    position:absolute;
    right:10px;
    top: 8px;

    width: 150px;
}

#paymentButton {
    position:absolute;
    bottom:8px;
    right:10px;

    width: 150px;
}

#tableNumber {
    position:absolute;
    top:8px;
    left:70px;

    width: 50px;
}


#tableNumberText {
    position:absolute;
    left:10px;
    top:10px;

    height: 40px;

    width: 50%;

    max-width: 130px;
    min-width: 70px;

    color: white;
}

@media screen and (max-width: 900px){
    #paymentMethod {
        width: 100px;
    }
    
    #paymentButton {
        width: 100px;
    }

    #shoppingCart {
        display:inline-block;
        position:relative;
    
        width:200px;
        height:100%;
    }
    
    #tableNumber {
        top:unset;
        bottom:8px;
        left:10px;
    }
}

#selectedItems {
    position:absolute;
    
    overflow-y:scroll;

    top: 84px;

    /*background-color: var(--side-bg);*/

    width: 100%;
    height: calc(100% - 143px);
}

.loginDetails {
    margin-top: 6px;
    margin-left: 4px;
    margin-right: 4px;

    width: calc(100% - 16px);

}

.beverage {
    float: left;
    position: relative;

    color: #FFF;
    
    background-color: var(--darken-seethru);
    background: var(--darken-seethru);


    width:10%;
    min-width: 120px;
    max-width: 220px;
    height: 100px;

    margin: 5px;
    padding: 15px;

    border-radius: 15px;

    backdrop-filter: blur(3px);
}

.beverageSelected {
    float: left;
    position: relative;

    width:calc(50% - 40px);
    height: 100px;

    margin: 5px;
    padding: 10px;

    backdrop-filter: blur(3px);


    border-radius: 5px;

    border: 1px solid var(--dark-accent);
}

@media screen and (max-width: 900px){
    .beverage{
        min-width:unset;
        max-width:unset;
        width: calc(100% - 50px);
        height: 60px;

        padding-left: 25px;


        border-radius: 20px;
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;

    }

    .beverageSelected {
        width:calc(100% - 40px);

        height:unset;
        min-height:60px;
        max-height:100px;
    }

    .selectedBeverageName {
        max-width: 100px;
    }
}

.beveragePrice {
    position: absolute;
    bottom: 0px;
}

.addBeverage {
    position: absolute;
    bottom: 10px;
    right: 10px;

    font-weight: bolder;
    font-size: 26px;
    text-align: center;

    background-color: #48BA28;
    color: #FFF;

    width: 30px;
    height: 30px;

    border-radius: 100%;
}

@media screen and (max-width: 900px){
    .addBeverage{
        font-size: 43px;

        bottom:20px;

        width: 50px;
        height: 50px;
    }
}

.removeBeverage {
    position: absolute;
    bottom: 10px;
    right: 10px;

    font-weight: bolder;
    font-size: 26px;
    text-align:center;


    background-color: #e62315;
    color: #FFF;

    width: 30px;
    height: 30px;
}

@media screen and (max-width: 900px){
    .removeBeverage{
        width:40px;
        height:40px;
        font-size: 32px;
    }
}

.mTab {
    display: block;
    float: left;
    padding: 20px;
    color: #FFF;
}
