#header {
    width: 100%;
    height : 100px;

    background : #EEE;
}

#title {
    font-family: "georgia";
    font-size: 25px;
    
    padding: 20px 0;
    margin-left: 20px;

    text-align: center;
    
    float: left;
}

#lang {
    float: right;
}

#flag {
    margin: 7px;

    height : 60px;
    width : 60px;
    border-radius: 28px;

    border: 3px solid white;
}

#menuTabs {
    margin: 0;
    padding: 0;
    margin-top:5px;
    overflow: hidden;
    background-color: #555;
    max-height:100%;
}

#menu {
    position: relative;
    background-color: #999;
    overflow:auto;
    height:75%;
}

#menuItems {
    display:inline-block;
    overflow-y:scroll;
    max-height:100%;
    float:left;
    max-width: 80%;
}

#checkout {
    display:inline-block;
    background-color: #666;

    width:20%;
}

#checkout_text {
    color: #FFF;
    padding-left: 20px;
}


.beverage {
    float:left;
    
    background-color: #EEE;
    width: 20%;
    height: 100px;

    margin: 5px;
    padding: 10px;

}

.mTab {
    display: block;
    float: left;
    padding: 20px;
    color: #FFF;
}